<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="./js/app.js"></script>
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <div class="jumbotron">
      <center>
        <img src="/images/robot.png" alt="" srcset="">
        <div class="container">
          <h1 class="display-4">About</h1>
          <p class="lead">
            This is a modified jumbotron that occupies the entire horizontal
            space of its parent.
          </p>
        </div>
      </center>
    </div>
    {{>footer}}
  </body>
</html>
